#home{
    background: linear-gradient(#f08080 0%, #20b2aa 100%);
    height: 600px;
}
#me{
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 150px;
    border-style: dashed;
    border-color: beige;
    width: 250px;
    border-width: 10px;
}
.name{
    font-family: 'Festive', cursive;
}
.header1, .header2{
    font-family: 'Akaya Telivigala', cursive;
}
.line{
    width: 50px;
    background-color: #19409c;
        height: 7px;
    margin-bottom: 10px; 
}
.headers{
    font-family: 'Redressed', cursive;
}
#myCarousel{
    background-color: aqua;
    height: 300px;
}
#myCarousel img{
    border-radius: 40px;
    margin-top: 30px;
}
#special_thanks{
    background-color: linear-gradient(#20b2aa 0%, #f08080 100%);
}
#languages{
    background-image: url(stars-constellation-sky-night-sky.jpeg);
    height: 700;
}
.language{
    color: aliceblue;
}
#language{
    color: white;
}